[Desktop Entry]
Encoding=UTF-8
Name=Link to 简历
Type=Link
URL=http://bbs.ctex.org/search.php?mod=forum&srchtxt=%BC%F2%C0%FA&formhash=32973104&searchsubmit=true&source=hotsearch
Icon=text-html
